.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 2px solid #EFEFEF;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: lower-roman;
    padding: 9px 60px;
    cursor: pointer;
    border-radius: 4px;
  }
 
  .react-tabs__tab:hover {
    display: inline-block;
    background-color: lightblue;
    border: 2px solid #EFEFEF;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: lower-roman;
    padding: 9px 60px;
    cursor: pointer;
    border-radius: 4px;
  }
   
  .react-tabs__tab--selected {
    background: #EFEFEF;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
  }

  .react-tabs__tab--hover {
    background: #000777;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  
  .mt--10 {
    margin-top: 10px;
  }
  .ml--50 {
    margin-left: 50px;
  }
  .ml--40 {
    margin-left: 40px;
  }
  .ml--30 {
    margin-left: 30px;
  }
  .ml--20 {
    margin-left: 20px;
  }
  .ml--10 {
    margin-left: 10px;
  }